* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* + * {
    margin-top: 1rem;
}

body{
    background-color: #CFE2C3;
}

main{
    width: 600px;
    margin: auto;
}

h1{
    margin-top: 20px;
    margin-bottom: 40px;
}

.button-style{
    background-color: #82CE80;
    border: 1px solid #2E472C;
    border-radius: 3px;
    padding: 3px 7px;
    color: #2E472C;
}

.star{
    margin: 0;
}


body {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    text-align: left;
}

.new-bookmark-button{
    font-size: 1.3rem;  

}

.star-filter-container{
    margin: 0;
    float: right;
    text-align: right;
    padding: 5px;
    background-color: #F7FFF2;
    border: 1px solid #507C4E;
    border-radius: 2px;
}


.new-bookmark{
    display: block;
    width: 500px; 
    margin: auto;
    margin-top: 20px;
}


.new-bookmark-window{
    text-align: left;
    background-color: #F7FFF2;
    border: 2px solid #507C4E;
    border-radius: 2px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.new-bookmark-form-title{
    text-align: center;
}
.new-bookmark-form{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 8px;
}
.new-bookmark-form * + * {
    margin-top: 0;
}

.new-bookmark-form-title{
    font-size: 1.5em;
    text-align: center;
}

.new-bookmark-form input,
.new-bookmark-form select,
.new-bookmark-form textarea,
.new-bookmark-form button,
.new-bookmark-form label {
    margin-top: 0;
}
 
.new-bookmark-form input,
.new-bookmark-form select,
.new-bookmark-form textarea,
.new-bookmark-form button {
    grid-column: 2 / 3;
    width: auto;
}

.new-bookmark-form label {
    /* text-align: right; */
    grid-column: 1 / 2;
}

.new-bookmark-submit-box{
    grid-column: 2 / 3; 

}

.new-bookmark-form input[type="text"],
.new-bookmark-form input[type="url"]{
    width: 66%;
}

.new-bookmark-form textarea{
    height: 100px;
}

.new-bookmark-form input[type="submit"]{
    font-size: 1.5em;
    float: right;
}

.new-bookmark-form p > *{
    margin-top: 3px;
}

.error-msg{
    height: 1.5rem;
    color: darkred;
}

.bookmarks{
    display:block;
}

.bookmark-list{
    padding: 0;
}

.bookmarks-list li{
    list-style-type: none;
    margin-bottom: 20px;
}


.bookmark-item{
    margin: auto;
}

.bookmark-item-head{
    background-color: #82CE80;
    border: 2px solid #507C4E;
    border-radius: 2px;
    text-align: left;
}

.bookmark-item-expand{
    width: 100%;
    padding: 5px;
    background-color: #82CE80;
    border:none;
    text-align:left;

}

.bookmark-item-title-label{
    display: inline;
    font-size: 1.3rem;
}

.bookmark-item-rating{
    height: 100%;   
    margin: 0; 
    margin-top: auto;
    margin-bottom:auto; 
    float: right;
}
.bookmark-item-rating img{
    max-height: 20px;
    max-width: 20px;
}

.bookmark-item-content{
    display: flex;
    margin: 0 5px;
    padding: 10px;
    background-color: #F7FFF2;
    border: 2px solid #507C4E;
    border-radius: 0 0 5px 5px;
    border-top:none;
}

.bookmark-item-description{
    width: 70%;
    text-align: left;
}

.bookmark-item-description h2{
    width: 80%;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.bookmark-item-buttons{
    min-height: 100%;
    width: 29%;
    margin: 0;
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bookmark-item-link{
    font-size: 1.5rem;   
    text-decoration: none;
}

.bookmark-item-remove{
    background-color: lightgray;
    border-color: darkred;
    color: black;

}


